<md-toolbar color="primary">
    <span>GameViewer</span>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>fingerprint</md-icon>
        <span>Login</span>
      </button>
      <button md-menu-item disabled>
        <md-icon>announcement</md-icon>
        <span>Issues</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Disable alerts</span>
      </button>
    </md-menu>
</md-toolbar>
<md-tab-group>
  <md-tab label="Gallery">
    <md-card *ngFor="let spaceScreen of spaceScreens; let i = index">
      <img md-card-image src="{{ spaceScreen.img }}">
      <md-card-content>
        <p>{{ spaceScreen.description }}</p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="likeMe(i)">
            <i class="material-icons md-18" [class.red-color]="spaceScreen.liked == '1'">favorite</i> LIKE
        </button>
        <button md-button (click)="deleteMe(i)">
            <i class="material-icons md-18">delete</i> DELETE
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab label="Settings">

  </md-tab>
</md-tab-group>
